
@media (min-width: 768px){
    .navbar {
         border-radius: 0px !important;
    }
}
@media (min-width: 1200px){
    .container {
        width: 1000px !important;
    }
}
@media (min-width: 992px){
    .container {
        width: 970px;
    }
}
@media (min-width: 768px){
    .container {
        width: 750px;
    }
}
.tpsarts-logo{
    height: 40px;
    position: relative;
    top: -12px;
}
#owl-home .item img{
    display: block;
    width: 100%;
    height: auto;
}
.header-pardhuthokala{
    margin: 0 auto;
    width: 220px;
    MARGIN-bottom: 15px;
    color: #404040;
}
.contact-img{
    width:100%;
}
.tpsarts-topnav{
    width:100%;
    position:relative !important;
    top:0px;
    z-index:10;
}
.tpsarts-name{
    margin-top:50px;
}
.footer .copyright-info{
    margin: 0 auto;
    width: 190px;
    color: gray;
    margin-top: 20px;
    margin-bottom:50px;
}
.grid-container{

}
.grid-item{
    float:left;
    margin: 10px 10px 10px 0px;
    cursor:pointer;
}
.grid-item img{
    max-height: 180px;
    width: auto;
    cursor: pointer;
    max-width: 305px;
}
@media (min-width: 768px){
    .modal-dialog {
        width: 80%;
        margin: 30px auto;
    }
}
#img-showImage{
    width:100%;
    display:block;
    margin: 0 auto;
}
.tpsarts-fb-button-like{
    position: relative !important;
    top: -4px;
}
body{
    background-color: #dcdcdc;
}
.modal-body{
    background-color:black;
}
.ps-current ul{
    padding-left:0px;
}
.tpsarts-container{
    width:90%;
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid lightgray;
    padding:30px;
    background-color:white;
}
.navbar-default{
    background-color:white;
    border:none;
}
.gallary-table td{
    width:33%;
    height:auto;
}
.gallary-table td img{
    width:100%;
}